<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InterviewQuestionsFree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92E1A9F318B8F9CE0006A672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92E1AA1418B8F9CE0006A672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92E1AA2C18B8FE200006A672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
